<div class="field">
    <label class="label">Password:</label>
    <form [formControl]="passwordForm">   

        <mat-form-field appearance="fill">                              
            <input matInput [formControl]="passwordForm" [type]="hide ? 'password' : 'text'" readonly="passwordForm">                            
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" disabled="hide">  
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>                              
        </button>                            
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="editPassword()">Edit</button>                    
</div>