<h1 mat-dialog-title>Password Reset</h1>
<div mat-dialog-content>
    <form [formGroup]="passwordForm" >
    <div class="form-container">
    <label>Old Password:</label>    
    <mat-form-field appearance="fill">
        <mat-label>Enter old password</mat-label>
        <input matInput formControlName="oldPassword" [type]="hideOld ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hideOld = !hideOld" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
          <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>                              
        </button>
        <mat-error *ngIf="passwordForm.get('oldPassword')?.hasError('required')">Please enter a password</mat-error>
        <mat-error *ngIf="passwordForm.get('oldPassword')?.hasError('minlength')">Password must be at least {{ passwordCharacterLength }} characters</mat-error>
      </mat-form-field>
    </div>
    <div class="form-container">
      <label>New Password:</label>
      <mat-form-field appearance="fill">
      <mat-label>Enter new password</mat-label>
        <input matInput formControlName="newPassword" [type]="hideNew ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
          <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>                              
        </button>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">Please enter a password</mat-error>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">Password must be at least {{ passwordCharacterLength }} characters</mat-error>
      </mat-form-field>    
    </div>  
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close class="cancel">Cancel</button>
    <button mat-raised-button color="accent" mat-dialog-close (click) = "onSave()">Save</button>
</div>
