/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
[hidden] {
  display: none !important;
}
html, body { 
  height: 100%; 
  scroll-behavior: smooth;
}
body { 
  /* Set min width for the app 
  * Anything smaller than this looks weird
  */
  min-width: 420px;
  overflow: auto/scroll;
}

:root {
  --UF-Orange: #fa4616;
  --UF-Blue: #0021a5;
  --themeBlue: #1565c0;
  --themeOrange: #ef6c00;
  --UF-BottleBrush: #D32737;
  
  /* Credit to Cottonbro studios in pexels.com */ /*Couple? and Netflix*/
  --background-image: url(https://images.pexels.com/photos/4009409/pexels-photo-4009409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  
  /* Credit to Lisa Fotios in pexels.com */ /*Cozy Room with Netflix*/
  --background-image2: url(https://images.pexels.com/photos/1444416/pexels-photo-1444416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  
  /* Credit to Andrea Piacquadio in pexels.com */ /*Person with Glasses and Popcorn*/
  --background-image3: url(https://images.pexels.com/photos/3811867/pexels-photo-3811867.jpeg?auto=compress&cs=tinysrgb&w=1600);
  
  /* Credit to Karolina Grabowska in pexels.com*/ /*Netflix on TV (arm)*/
  --background-image4: url(https://images.pexels.com/photos/5202917/pexels-photo-5202917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
 
  /* Credit to John-Mark Smith in pexels.com*/ /*Mug and Netflix*/
  --background-image5: url(https://images.pexels.com/photos/2726370/pexels-photo-2726370.jpeg?auto=compress&cs=tinysrgb&w=1200);
   
  /* Credit to cottonbro studio in pexels.com*/ /*Phone with Netflix*/
  --background-image6: url(https://images.pexels.com/photos/5081423/pexels-photo-5081423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);

  /* Credit to Roberto Nickson in pexels.com*/ /*Dog in Room with Netflix*/
  --background-image7: url(https://images.pexels.com/photos/2659629/pexels-photo-2659629.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
 
  /* Credit to Ellie Burgin in pexels.com*/ /*Bed and Netflix*/
  --background-image8: url(https://images.pexels.com/photos/4057890/pexels-photo-4057890.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

  /* Credit to Pixabay in pexels.com*/ /*Tablet and Netflix*/
  --background-image9: url(https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

   /* Credit to Digital Buggu in pexels.com*/ /*Gears*/
   --background-image10: url(https://images.pexels.com/photos/171198/pexels-photo-171198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

   /* Credit to brotiN biswaS in pexels.com*/ /*Newspaper*/
   --background-image11: url(https://images.pexels.com/photos/518543/pexels-photo-518543.jpeg);


   /* CSS Textures, credit to: https://codepen.io/bitmap/pen/AzowBq */
  --texture1: repeating-linear-gradient(-26deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 2px, transparent 3px, transparent 7px);
  --texture2: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
  --texture3: repeating-linear-gradient(-26deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 2px, transparent 3px, transparent 7px);
  --texture4:repeating-linear-gradient(0deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 7px);
  --texture5: repeating-linear-gradient(90deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 7px);
  --texture6: repeating-linear-gradient(-319deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 3px, transparent 15px);

  }

/* For phones */
@media (min-width: 576px) {

}
/* For Tablets */
@media (min-width: 750px) {

}
/* For Laptops / Smaller Computers */
@media (min-width: 990px) {

}
/* For larger Computers */
@media (min-width: 1200px) {

}