.subscription-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;    
}

.buttons-container {
    width: 100%;
    background-color: rgb(223, 220, 220);
    padding: 5px;
    text-align: right;
    padding-top: 8px;
}

.chips-container {
    display: flex;
    width: 100%;
    background-color: rgb(131, 131, 131);
    padding: 5px;
    align-items: center;    
}

#filter-label {
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
}

.add {
    border-radius: 9px;
    padding: 8px;
    background-color: #1a51b3;
    margin: 3px;
}

.add:first-of-type {
    margin-right: 5px;
}

#warning {
    color: rgb(202, 2, 2);
}

#reactivate {
    color:rgb(23, 133, 13);
}

.mdc-data-table__header-row {
    height: 49px;
    /* background-color: #2e74c4; */
    /* background-color: #205189; */
    background-color: #1a51b3;
}

.mdc-data-table__header-cell {
    font-weight: normal;
    color: white;
}

.mdc-data-table__row:nth-child(even){
    background-color: #fefefe;
}
        
.mdc-data-table__row:nth-child(odd){
    background-color: #f8f8f8;
}

.mat-mdc-standard-chip.mdc-evolution-chip--disabled {
    opacity: 1;
}

.mat-mdc-paginator {
    background-color: rgb(249, 249, 249);    
}

::ng-deep .mat-sort-header-arrow {
    color: #ffffff;
}