<div class="subscription-container">
  <div class="buttons-container">
    <button mat-flat-button color="primary" id="add" (click)="addSubscription()">Add Subscription</button>
  </div>
  <div class="chips-container">
    <span id="filter-label">Filter:</span>
    <mat-chip-listbox aria-label="Subscription selection">      
      <mat-chip-option color="primary"  [selected]="active" [disabled]="active" (click)="getActive()">Active Subscriptions</mat-chip-option>
      <mat-chip-option color="warn" [selected]="!active" [disabled]="!active"(click)="getInactive()">Inactive Subscriptions</mat-chip-option>
    </mat-chip-listbox>
  </div>   
    <table mat-table id="subscriptionList" [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let sub"> {{sub.name}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let sub"> {{'$ ' + sub.price}} </td>
      </ng-container>

      <ng-container matColumnDef="dateadded">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Added </th>
        <td mat-cell *matCellDef="let sub"> {{ sub.dateadded | date:'mediumDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="dateremoved" *ngIf="!active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Removed </th>
        <td mat-cell *matCellDef="let sub"> {{ sub.dateremoved | date:'mediumDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let row, let sub">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="actions">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="reactivateSub(sub.name)" *ngIf="!active">
              <mat-icon id="reactivate">check_circle</mat-icon>
              <span>Reactivate</span>
            </button>            
            <button mat-menu-item *ngIf="!active">
              <mat-icon id="warning">delete</mat-icon>
              <span>Delete</span>
            </button>            
            <button mat-menu-item (click)="deactivateSub(sub.name)" *ngIf="active">
              <mat-icon id="warning">cancel</mat-icon>
              <span>Deactivate</span>
            </button>        
          </mat-menu>               
        </td>
      </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]"                 
                 aria-label="Select page of Subscriptions">
    </mat-paginator>
  
</div> 
