<mat-sidenav-container>
    <mat-sidenav opened="true" mode="side" disableClose="true">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/', 'admin']" (click)="goHome()"><span class="nav-item">Admin Page</span></a>
            <a mat-list-item [routerLink]="['reset']" (click)="showReset()"><span class="nav-item">Reset</span></a>
            <a mat-list-item [routerLink]="['newsletter']" (click)="showNewsletter()"><span class="nav-item">Newsletter</span></a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="admin-features" align="center" *ngIf="displayHome">
            <mat-card id="table">
            <mat-card-header>
                <mat-card-title id="title">
                    <div>
                        <h3>{{ todayDate | date: 'longDate'}}</h3>
                    </div>
                    <div>
                        <h3>root's Admin Functions</h3>
                    </div>
                    
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>                      
         </mat-card-content>
        </mat-card>                  
        </div>

        <div class = "reset-feature" *ngIf="displayReset">
            <app-reset></app-reset>
        </div>

        <div class = "newsletter-feature" *ngIf="displayNewsletter">
            <app-newsletter></app-newsletter>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
