<mat-sidenav-container>
    <mat-sidenav opened="true" mode="side" disableClose="true">
        <mat-nav-list>
            <a mat-list-item [class.active]="displaySubscriptions" class="e" (click)="showSubscriptions()"><span class="nav-item">Subscriptions</span></a>
            <a mat-list-item (click)="showReport()"><span class="nav-item">Report</span></a>
            <a mat-list-item (click)="showGraph()"><span class="nav-item">Graph</span></a>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content id="content">
        <div class="subscription-manager" align="center" *ngIf="displaySubscriptions">
            <mat-card id="table">
                <mat-card-header>
                <mat-card-title id="title">
                    <div>
                        <h3>{{ todayDate | date: 'longDate'}}</h3>
                    </div>
                    <div>
                        <h3>{{ username }}'s Subscription List</h3>
                    </div>
                    
                </mat-card-title>
                </mat-card-header>
                <mat-card-content>                      
                       <app-subscription-list [subscriptionList]="subscriptionList" 
                       (updateSubscriptions)="updateActiveSubscriptions($event)"
                       (isActive)="updateActiveSubscriptions($event)"
                       (isInactive)="updateInactiveSubscriptions($event)"></app-subscription-list>
                </mat-card-content>
            </mat-card>                  
        </div>
        <div class="subscription-report" *ngIf="displayReport">
            <app-report [username]="username"></app-report>
            <!--Done so the background moves naturally with the accordion-->
            <div class="report-spacer">
                <br><br><br><br><br><br><br><Br>
            </div>  
        </div>
        <div class="subscription-report" *ngIf="displayGraph">
            <app-graph></app-graph> 
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>