<!-- Main Code Starts-->
<div class="intro">

    <!-- Header breaks -->
    <div><br><br><br></div>

    <mat-card class="title-card" >
        <mat-card-header class="title-header">
            <h1 class="title">Welcome {{username}} to the UF-OneClick Subscription Manager!</h1>
        </mat-card-header>
        <mat-card-content>
            
        </mat-card-content>
    </mat-card>

</div>

<div class="subscription-manager" align="center" >

 <h2>Subscription List:</h2>
    <div class="users-container">
        <div class="content-container">
            <app-welcome-header [username]="username"></app-welcome-header>
            <app-subscription-list [subscriptionList]="subscriptionList" 
            (updateSubscriptions)="updateActiveSubscriptions($event)"
            (isActive)="updateActiveSubscriptions($event)"
            (isInactive)="updateInactiveSubscriptions($event)"></app-subscription-list>
        </div>
    </div>

    <!-- <button type="submit" mat-raised-button color="primary" (click)="doLogout()">Logout</button>
    <button type="submit" mat-raised-button color="primary"  (click)="getUserSubscriptions()" [hidden]="adminButtonVisible">See Your Subscriptions</button>
    <button type="submit" mat-raised-button color="primary"  (click)="getUserData()" [hidden]="adminButtonVisible">Get All User Data</button>
    <button type="submit" mat-raised-button color="primary" (click)="resetAll()" [hidden]="adminButtonVisible">Reset All</button> -->
    
    <!-- Vladimir Code
    <mat-card class="create-unknown-sub">
        <mat-card-content >
            <form [formGroup]="createSubServiceForm" (ngSubmit)="newSubscription()">                    
                <mat-form-field appearance="fill">
                    <mat-label>New Subscription Name</mat-label>            
                    <input matInput formControlName="name">
                    <mat-error *ngIf="createSubServiceForm.get('name')?.getError">Please enter a valid name</mat-error>                        
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>New Subscription Price</mat-label>            
                    <input matInput formControlName="price">
                    <mat-error *ngIf="createSubServiceForm.get('price')?.getError">Please enter a valid price ($_.99)</mat-error>                        
                </mat-form-field>

                <mat-card-actions>
                    <button type="submit" mat-raised-button color="primary" [disabled]="createSubServiceForm.invalid">Create Custom Subscription</button>
                </mat-card-actions>

                <br><br>
            </form>
        </mat-card-content>   
    </mat-card>

    <mat-card class="create-known-sub">
        <mat-card-content>
            <form [formGroup]="createUserSubForm" (ngSubmit)="newUserSubscription()">                    
                <mat-form-field appearance="fill">
                    <mat-label>Subscription Name</mat-label>            
                    <input matInput formControlName="name">
                    <mat-error *ngIf="createUserSubForm.get('name')?.getError">Please enter a valid name</mat-error>                        
                </mat-form-field>

                <mat-card-actions>
                    <button type="submit" mat-raised-button color="primary" [disabled]="createUserSubForm.invalid">Add Subscription (Today)</button>
                </mat-card-actions>

                <br><br>
            </form>
        </mat-card-content>         
    </mat-card>

    <mat-card class="get-sub">
        <mat-card-content>
            <form [formGroup]="createCustomUserSubForm" (ngSubmit)="customUserSubscription()">                    
                <mat-form-field appearance="fill">
                    <mat-label>Subscription Name</mat-label>            
                    <input matInput formControlName="name">
                    <mat-error *ngIf="createCustomUserSubForm.get('name')?.getError">Please enter a valid name</mat-error>                        
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Date Added</mat-label>            
                    <input matInput formControlName="dateadded">
                    <mat-error *ngIf="createCustomUserSubForm.get('dateadded')?.getError">yyyy-mm-dd hh:mm:ss</mat-error>                        
                    
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Date Removed</mat-label>            
                    <input matInput formControlName="dateremoved">
                    <mat-error *ngIf="createCustomUserSubForm.get('dateremoved')?.getError">yyyy-mm-dd hh:mm:ss</mat-error>                        
                </mat-form-field>

                <mat-card-actions>
                    <button type="submit" mat-raised-button color="primary" [disabled]="createCustomUserSubForm.invalid">Add Subscription</button>
                </mat-card-actions>

                <br><br>
            </form>
        </mat-card-content> 
    </mat-card>   

    <mat-card class="delete-sub">
        <mat-card-content >
            <form [formGroup]="removeUserSubForm" (ngSubmit)="removeUserSubscription()">                    
                <mat-form-field appearance="fill">
                    <mat-label>Subscription Name</mat-label>            
                    <input matInput formControlName="name">
                    <mat-error *ngIf="removeUserSubForm.get('name')?.getError">Please enter a valid name</mat-error>                        
                </mat-form-field>

                <mat-card-actions>
                    <button type="submit" mat-raised-button color="primary" [disabled]="removeUserSubForm.invalid">Cancel Subscription</button>
                </mat-card-actions>
            </form>
            
            <br><br>
        </mat-card-content>      
    </mat-card>  
-->
</div>

<div class="subscription-report">

    <h2>Subscription Report:</h2>
    <div class="sub-box" align="center">
        <mat-card>
            <mat-card-title>{{username}}'s Subscription Report:</mat-card-title>

            <div class="accordion-action-buttons">
                <button mat-button (click)="accordion.openAll()">Expand All</button>
                <button mat-button (click)="accordion.closeAll()">Collapse All</button>
              </div>
              <mat-accordion class="accordion-headers-align" multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Longest Subscriptions
                    </mat-panel-title>
                    <mat-panel-description>
                      Which Subscriptions have you had longest?
                      <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <!-- put longest subscription code here -->
                  <mat-form-field appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput>
                  </mat-form-field>
              
                  <mat-form-field appearance="fill">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" min="1">
                  </mat-form-field>
                </mat-expansion-panel>

                <mat-expansion-panel disabled>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Query
                    </mat-panel-title>
                    <mat-panel-description>
                      This Query has not been defined yet..
                      <mat-icon>map</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Query
                      </mat-panel-title>
                      <mat-panel-description>
                        This Query has not been defined yet..
                        <mat-icon>map</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                  
                <mat-expansion-panel disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Query
                      </mat-panel-title>
                      <mat-panel-description>
                        This Query has not been defined yet..
                        <mat-icon>map</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                  
                <mat-expansion-panel disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Query
                      </mat-panel-title>
                      <mat-panel-description>
                        This Query has not been defined yet..
                        <mat-icon>map</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                  
                <mat-expansion-panel disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Query
                      </mat-panel-title>
                      <mat-panel-description>
                        This Query has not been defined yet..
                        <mat-icon>map</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                  
                <mat-expansion-panel disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Query
                      </mat-panel-title>
                      <mat-panel-description>
                        This Query has not been defined yet..
                        <mat-icon>map</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                  
                <mat-expansion-panel disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Query
                      </mat-panel-title>
                      <mat-panel-description>
                        This Query has not been defined yet..
                        <mat-icon>map</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                  
                <mat-expansion-panel disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Query
                      </mat-panel-title>
                      <mat-panel-description>
                        This Query has not been defined yet..
                        <mat-icon>map</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                  
                <mat-expansion-panel disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Query
                      </mat-panel-title>
                      <mat-panel-description>
                        This Query has not been defined yet..
                        <mat-icon>map</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                  
                <mat-expansion-panel disabled>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Query
                      </mat-panel-title>
                      <mat-panel-description>
                        This Query has not been defined yet..
                        <mat-icon>map</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                
            
                
              </mat-accordion>
              
        </mat-card>
    </div>
    <!--Done so the background moves naturally with the accordion-->
    <div class="report-spacer">
        <br><br><br><br><br><br><br><Br>
    </div>
  
</div>

<div class="graph-display">

</div>


<div class="TBA-features">
    <h1>More Features TBA</h1>
</div>

  <!-- <mat-card-content>
        <form [formGroup]="newsLetterForm" (ngSubmit)="newsLetter()" [hidden]="adminButtonVisible">                   
            <textarea type="text" id="newslettermessage" name="name" rows="6" cols="50">Enter Message For Newsletter</textarea>

            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary">Send Newsletter</button>
            </mat-card-actions>
        </form>
    </mat-card-content>   -->
    <!-- Vladimir Code
    <div id="allSubs"></div> 
    <div id="longestSub"></div> 
    <button type="submit" mat-raised-button color="primary" (click) ="left()"> ← </button>
    <button type="submit" mat-raised-button color="primary" (click) ="right()"> → </button>
-->