.container {
    background-image: var(--background-image11);
    background-position: center;
    background-size: cover; 

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;

    height: 100%;
    padding: 4%;
    padding-left: 2%;
    min-height: 100vh;
}

#table {
    max-width: 950px;
}

#info {
    text-align: left;
    margin-bottom: 10px;
}

#title {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-bottom: 5px;    
}

textarea{
    padding: 1%;
    align-self: center;
    display: flex;
    width: 100%;
}

.mat-mdc-card-header {
    display: block;
    margin-bottom: 10px;
}

mat-form-field {
    width: 95%;
}