<footer>
  <div class="footer-stuff">
    <div class="socials">
      <!--<a href="https://www.youtube.com/c/CapitalOne" target="_blank"> <i class="fa fa-youtube fa-fw"> </i> </a>
      <a href="https://www.facebook.com/capitalone/" target="_blank"> <i class="fa fa-facebook fa-fw"> </i> </a>
      <a href="https://www.linkedin.com/company/capital-one/" target="_blank"> <i class="fa fa-linkedin fa-fw"> </i> </a>
      <a href="https://twitter.com/capitalone?lang=en" target="_blank"> <i class="fa fa-twitter fa-fw"> </i> </a>
      <a href="https://www.instagram.com/capitalone/?hl=en" target="_blank"> <i class="fa fa-instagram fa-fw"> </i> </a>-->
      <a href="https://www.ufl.edu/" target="_blank"> UF </a>
    </div>
    <p>©2023 OneClick: Subscription Manager - University of Florida</p>
    
    <div class="links">
      <!--<a href="https://www.capitalone.com/privacy/" target="_blank"> Privacy  </a>
      <a href="https://www.capitalone.com/digital/identity-protection/" target="_blank">Security </a>
      <a href="https://www.capitalone.com/privacy/online-privacy-policy/#collecting-using-sharing-information-accordion-button-5" class = "button" target="_blank"> AdChoices </a>
      <a href="https://www.capitalone.com/digital/terms-conditions/" target="_blank"> Terms and Conditions </a>
      <a href="https://www.fdic.gov/" target="_blank"> <i class="fa fa-fdic fa-fw"> </i> </a>-->
      <a href="https://github.com/gabo0802/UF-OneClick" target="_blank"> Project Github </a>
    </div>
  </div>
</footer>