<h1 mat-dialog-title>Add Subscription</h1>
<div mat-dialog-content>
    <form [formGroup]="addSubsriptionForm">
        <div> 
            <label>Name:</label>   
            <mat-form-field appearance="fill" hideRequiredMarker>
                        
                <input matInput formControlName="name">                                   
            </mat-form-field>
        </div>
        <div>
            <label>Price:</label>
            <mat-form-field appearance="fill" hideRequiredMarker>
                        
                <input matInput formControlName="price">                                   
            </mat-form-field>
        </div>
        <p>Insert the rest of the fields here</p> 
        <div mat-dialog-actions align="end">
            <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
            <button mat-raised-button color="accent">Add</button>
        </div>
    </form>  
</div>