
.intro {

  height: 75%;
  width: 100%;
  content: "";
  background: var(--background-image);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.intro-box {

  width: 500px;
  height: 150px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.intro-logo {
  width: 100%;
  height: 100%;
}
.description {

}

.sub-list {

}

.app-visual {

}

.potential-list {

}