
<mat-toolbar id="intro-part" class="intro" >
  <mat-toolbar class="intro-box">
    <img class="intro-logo" src="../../assets/oneclick-logo-files/png/logo-no-background.png">
  </mat-toolbar>
</mat-toolbar>

<div id="description" class="description">
  <!-- Icons are placeholders to put something on the sides of the description -->
  <mat-icon class="description-icon">sentiment_satisfied</mat-icon>
  <mat-card class="description-card">
    <mat-card-title class="description-title">
      What is OneClick?
    </mat-card-title>
    <mat-card-content class="description-content">
      The UF-Sponsored OneClick subscription manager is a simple
      and intuitive way for users to <i>manage</i> their <i>subscriptions</i>, all in just <i>one click!</i> <br>
      Users can choose from a list of common subscription services or add their own unique subscriptions to the ever-expanding list. <br>
      Users can then view all of their subscriptions, calculate their monthly dues, get email notifications on when to pay <b>(maybe?)</b>, and plan their monthly savings. <br>
      (insert a more detailed description later)
    </mat-card-content>
  </mat-card>
  <mat-icon class="description-icon">sentiment_satisfied</mat-icon>
</div>

<div id="subscriptions-list" class="sub-list">

</div>

<div id="visual" class="app-visual">

</div>

<div id="new-features" class="potential-list">

</div>
