
.intro {

  height: 75%;
  width: 100%;
  content: "";
  background: var(--background-image);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.intro-box {

  display: inline-block;
  width: 40%;
  max-width: 300px;
  max-height: 100px;
  min-width: 200px;
  min-height: 50px;
  height: 12%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
 
}

.intro-logo {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 50px;
  min-width: 175px;
  min-height: 25px;
}
.description {

}

.sub-list {

}

.app-visual {

}

.potential-list {

}