<div class="container">
    <div class="profile-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title><h3>Profile Information</h3></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-username-field [oldUsername]="username"></app-username-field>
                <app-email-field></app-email-field>
                <!-- Password Begin-->
                <div class="field">
                    <label class="label">Password:</label>
                    <form [formGroup]="passwordForm">   

                        <mat-form-field appearance="fill">                              
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" readonly="passwordForm">                            
                            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" disabled="hide">  
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>                              
                        </button>                            
                        </mat-form-field>
                    </form>
                    <button mat-raised-button color="primary" (click)="editPassword()">Edit</button>                    
                </div> 
                <!-- Timezone Begin--> 
                <div class="field">
                    <label class="label">Timezone:</label>
                    <form [formGroup]="timezoneForm">
                                           
                        <mat-form-field appearance="fill">                           
                                     
                            <input *ngIf="!timezoneEdit" matInput formControlName="timezonedifference" readonly="timezoneForm">
                            <input *ngIf="timezoneEdit" matInput formControlName="timezonedifference">
                                                   
                        </mat-form-field>
                    </form>
                    <button *ngIf="!timezoneEdit" mat-raised-button color="primary" (click)="editTimezone()">Edit</button>
                    <button *ngIf="timezoneEdit" mat-raised-button color="accent" [disabled]="timezoneForm.invalid" (click)="editTimezone()">Save</button>                  
                </div>               
            </mat-card-content>
            <mat-card-actions>
                <div class="buttons">                    
                    <button mat-raised-button color="primary" (click) = delete()>Delete Profile</button>
                    <button mat-raised-button color="primary" (click)="back()">Back</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>