<div class="container">
    <div class="profile-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title><h3>Profile Information</h3></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <span>Username:</span><span>Username Here</span>
                </div>
                <div>
                    <span>Email:</span><span>Username Here</span>
                </div>
                <div>
                    <span>Password:</span><span>************</span>
                </div>                 
            </mat-card-content>
        </mat-card>
    </div>
</div>