.mdc-dialog__title { 
    font-size: 18px;
    margin-bottom: 15px;
}

.form-container {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 125px;
}

.mdc-dialog__actions {
    padding-right: 30px;
}

.cancel {
    margin-right: 5px;
}

mat-error {
    font-size: 12px;
    font-weight: normal;
}