.container {
    display: flex;
    justify-content: center; 
    background: var(--background-image2);
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    margin-top: 60px;
}

.form-container {
    margin: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

mat-card-header {
    margin-bottom: 10px;
}

mat-card {    
    padding: 35px;
}