
.example-spacer {
    flex: 1 1 auto;
}

.divider {
    width: 7px;
}

.header {
    display: flex;
    justify-content: space-between;
    color:"primary";
}

.header-button {
    border-radius: 4px;
}

.logo {
    height: 60px;
    margin-right: 20px;
}