

<!-- Implement a version of the header without the nav bar stuff for login/sign up -->
<mat-toolbar class="header" color="primary">
    
    <span [hidden]="myNavBar" class="navigation nav-b">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>list</mat-icon>
          </button>
          <mat-menu #menu>
            <button mat-menu-item>
              <mat-icon>sentiment_satisfied</mat-icon>
              <span><a href="#intro-part">Intro</a></span>
            </button>
            <button mat-menu-item>
              <mat-icon>business_center</mat-icon>
              <span><a href="#visual">How it Works</a></span>
            </button>
            <button mat-menu-item>
              <mat-icon>wifi</mat-icon>
              <span><a href="#new-features">Planned Features</a></span>
            </button>
          </mat-menu>
    </span>
    <span class="logo-containter">
        <a [routerLink]="changeRoute()"><img class="logo" src="../../assets/oneclick-logo-files/png/oneclick-high-resolution-logo-black-on-transparent-background.png"></a>
    </span>
    <span [hidden]="myNavBar" class="navigation nav-a">
      <nav id="navbar" class="nav">
        <ul class="nav-list">
          <li><a href="#intro-part">Intro</a></li>
          <li><a href="#visual">How it Works</a></li>
          <li><a href="#new-features">Planned Features</a></li>
        </ul>
      </nav>
    </span>
    <span [hidden]="mainButtons" class="buttons">
       <a routerLink="/login">
        <button class="header-button" mat-raised-button color="accent">Login</button>
      </a>
      <a routerLink="/signup">
        <button class="header-button"  mat-raised-button color="accent">Sign Up</button>
      </a> 
    </span>
    <!--
      Add a button here that logs out when we are logged in
      Also add a user profile button (it has a profile picture)
    -->
   <span [hidden]="logoutButton" class="buttons">
    <a [routerLink]="['users', 'profile']">Temp Profile Link here!</a>
      <button class="header-button" mat-raised-button color="accent" (click)="logOut()">
        Logout
      </button>
    </span>

</mat-toolbar>