<div class="admin-features" align="center">
    <mat-card id="table">
    <mat-card-header>
        <mat-card-title id="title">
            <div>
                <h3>{{ todayDate | date: 'longDate'}}</h3>
            </div>
            <div>
                <h3>root's Admin Functions</h3>
            </div>
            
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>  
        <h1>Welcome To The Admin Page! <br></h1>
           
        <p>
            As the root user you have access to many functions that are helpful in running the webpage.  <br>
            You have the reset function which allow you to reset all of the data on the website to its factory settings <br>
            You also have the newsletter function allowing you to send emails to all of the websites current users informing them of any new feature or announcements on the website <br>
            And many more features to come! :)
        </p>                    
    </mat-card-content>
</mat-card>                  
</div>
