.container {
    display: flex;
    flex-direction: row;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;    
}

.labels {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    color: var(--themeBlue);
    margin-top: 10px;    
}

#canvas-container {
    display: flex;
    width: 100%;
    justify-content: center;    
    max-height: 550px;
}

mat-card-title {
    margin-bottom: 20px;
}

mat-error {
    font-size: 12px;
}

button {
    margin-top: 10px;
}